---
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import '@fontsource-variable/manrope';
import '@fontsource-variable/playfair-display';
import '@fontsource-variable/playfair-display/wght-italic.css';
import '../styles/global.css';
import { Image } from 'astro:assets';
import leaves from '../assets/leaves.svg';

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Modal from '../components/Modal.astro';

interface Props {
    title?: string;
    description?: string;
}

const { title, description = "Mladí učí o klimatu. Vzdělávací programy pro školy a veřejnost." } = Astro.props;
const pageTitle = title ? `${title} | Mladí učí o klimatu` : "Mladí učí o klimatu";
---

<!doctype html>
<html lang="cs" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta property="og:title" content={`${title} | Telperion`} />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <title>{title} | Telperion</title>
        <Analytics />
        <SpeedInsights />
    </head>
    
    <body class="bg-cream text-dark-green font-sans antialiased">
        
        <div class="relative overflow-hidden flex flex-col min-h-screen">
            
            <div class="absolute top-0 right-0 w-64 md:w-96 opacity-90 pointer-events-none z-0">
                <Image src={leaves} alt="" fetchpriority="high" loading="eager" />
            </div>
            <div class="absolute bottom-0 left-0 rotate-180 w-64 md:w-96 opacity-90 pointer-events-none z-0">
                <Image src={leaves} alt="" fetchpriority="high" loading="eager" />
            </div>

            <Navbar />

            <!-- 
                Změna: Přidáno "flex flex-col". Tím se z mainu stane chytry kontejner,
                do kterého se teď 404 stránka krásně napasuje.
                Dále je zde pb-4 (drobná mezera nad patičkou).
            -->
            <main class="flex-grow flex flex-col relative z-10 pt-24 pb-0">
                <slot />
            </main>

            <div class="relative z-20">
                <Footer />
            </div>
            
        </div>

        <Modal />
    </body>
</html>